---
layout: default
---

<div class="home">

    <h1 class="page-heading">Recent posts</h1>

    {% for post in paginator.posts %}
    <section class="post">
        <header class="post-header">
            <img class="post-avatar" src="/assets/{{ post.img }}" alt="{{ post.img }}"/>

            <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

            <p class="post-meta">
                <span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
                {% for tag in post.tags %}
                <a class="post-tag {{ tag | slugify }}">{{ tag }}</a>
                {% endfor %}
            </p>
        </header>
    </section>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        <ul>
            <li>
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
                   class="prev">&laquo;</a>
                {% else %}
                <span class="prev">&laquo;</span>
                {% endif %}
            </li>

            {% for page in (1..paginator.total_pages) %}
            <li>
                {% if page == paginator.page %}
                <em class="active">{{ page }}</em>
                {% elsif page == 1 %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                {% else %}
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
                    {{page }}
                </a>
                {% endif %}
            </li>
            {% endfor %}

            <li>
                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
                    class="next">&raquo;</a>
                {% else %}
                <span class="next">&raquo;</span>
                {% endif %}
            </li>
        </ul>
    </div>
    {% endif %}

    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>