.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
  background: $primary-color-dark;

  .pure-menu-heading {
    color: $white-color;
    font-weight: 400;
    font-size: 120%;
  }

  a {
    color: $primary-color-light;
  }

  li a:hover, li a:focus {
    background: none;
    border: none;
    color: $white-color;
  }
}

.pure-menu.pure-menu-fixed {
  z-index: 4;
}
